@import "../utils/_variables";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Poppins:wght@200;300;400;600&display=swap');

.collection-top{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 20px 0 20px;
    padding : 40px 0;
    text-align: center;
}

.collection-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 20px 30px 20px;

    div{
        display: flex;
    }

    div:first-child{
        padding: 10px;
    }

    div:second-child{
        display: flex;
        justify-content:space-evenly;

        input{
            flex-grow: 1;
            border:none;
            border-width: 0px;
        }

        button{
            flex-grow: 1;
        }
    }
}

.dark-create-btn{
    background-color: $pink_accent;
    color: black;
    cursor: pointer;
    border-style: solid;
    border-color: $pink_accent;
    border-width: 1px;
    font-family: 'Montserrat', sans-serif;
    padding: 10px;
    border:none;
    height: 40px;
}

.dark-create-btn:hover {
    background-color: $pink_accent_hover;
    color: $dark_font_color;
}

.dark-dashboard-channels-container{
    // min-height: 30vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px 10px;
}

.pink-go-to-dashboard-btn{
    position: absolute;
    top: 0;
    right: 0;
    background-color: $pink_accent;
    padding: 10px;
    border-radius:0 0 0 10px;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
}

.pink-go-to-dashboard-btn:hover{
    background-color: $pink_accent_hover;
    color: $dark_font_color;
}