//Common variables for light and dark themes
$blue_accent: #0b7fba;
$pink_accent : #DB7F8E;

//Light theme variables
$light_font_color: #202029;

//Dark theme variables
$dark_font_color: #d1cdcd;
$dark_bg_color : #14171B;
$dark_collection_card_bg_color: #1D2326;